* {
  transition: all .3s;
}

body {
  color: aquamarine;
  background: black;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  display: table;
}

h1 {
  font-size: 60px;
  color: aquamarine;
  margin: 20px;
}

#output {
  height: 200px;
  width: 200px;
  background: rgb(104, 211, 175);
  padding: 20px;
  resize: none;
  text-align: right;
  font-size: 16px;
  outline-color: yellow;
}

button {
  font-weight: bold;
  border: 0;
  margin: 0px 10px 12px 0px;
}

.btn-int {
  background: aquamarine;
  width: 100px;
  height: 40px;
  outline-color: rgb(255, 115, 0);
}

.btn-int:hover {
  background: rgb(104, 211, 175);
  cursor: pointer;
}

.buttons-minus .btn-int {
  background: black;
  color: rgb(104, 211, 175);
  border: 1px solid rgb(104, 211, 175);
  outline-color: red;
}

.buttons-minus .btn-int:hover {
  background: rgb(19, 41, 34);
}

.btn-help {
  color: aquamarine;
  background: rgba(0, 0, 0, 0);
  widows: 50px;
  height: 30px;
}

.btn-help:hover {
  color: black;
  background: aquamarine;
  cursor: pointer;
}