* {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px;
  background: black;
  color: aquamarine;
  height: 100vh;
}

button {
  border: 0;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: rgb(104, 211, 175) !important;
  color: black !important;
}

main {
  width: 300px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main h1 {
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

main .buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

main .buttons button {
  margin: 8px;
  background: aquamarine;
  width: 100px;
  height: 40px;
  outline-color: rgb(255, 115, 0);
  border: 1px rgb(104, 211, 175) solid;
}

main #output {
  font-family: monospace;
  height: 200px;
  max-width: 200px;
  width: 100%;
  margin: 10px;
  background: rgb(104, 211, 175);
  padding: 20px;
  resize: none;
  text-align: right;
  font-size: 16px;
  outline-color: yellow;
}

main .btn-help {
  color: aquamarine;
  background: rgba(0, 0, 0, 0);
  height: 30px;
}

.btn-invert {
  background: black !important;
  color: rgb(104, 211, 175) !important;
  outline-color: red !important;
}

.btn-invert:hover {
  background: rgb(19, 41, 34) !important;
  color: aquamarine !important;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(104, 211, 175);
}

::-webkit-scrollbar-thumb {
  background: aquamarine;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(176, 255, 229);
}

#output::-moz-selection {
  background: rgb(210, 255, 240);
  color: black;
}

#output::selection {
  background: rgb(210, 255, 240);
  color: black;
}
#output::-moz-selection {
  background: rgb(210, 255, 240);
  color: black;
}

::-moz-selection {
  background: transparent;
  color: rgb(233, 57, 57);
}

::selection {
  background: transparent;
  color: rgb(233, 57, 57);
}

@media (max-width: 500px) {
  main h1 {
    font-size: 40px;
  }
}
